* {
  margin: 0px;
  padding: 0px;
}
.body-container {
  max-width: 100%;
  padding: 0%;
  display: block;
}
.card-container {
  /* margin-left: 10%;
  margin-right: 10%; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 230px;
  height: 300px;
  border: 0px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 20px;
  padding: 1%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 230px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 230px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: whitesmoke;
  color: white;
  transform: rotateY(180deg);
}
.book-image {
  width: 100%;
  height: 100%;
}
#image-Modal {
  position: absolute;
  z-index: 1;
  left: 30%;
}
.img {
  margin: 2%;
}
h4,
p {
  color: red;
}
p {
  padding: 10px;
  text-align: center;
}
.card {
  cursor: pointer;
  width: fit-content;
  padding: 3%;
}
.navbar {
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
}
a.navbar-brand {
  margin: 0%;
  padding: 0%;
  background: none;
  color: #bd3518;
  font-family: "Comfortaa";
}
footer {
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a {
  padding: 5px;
}
.social-network a.icoRss:hover {
  background-color: #f56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
a {
  background-color: #d3d3d3;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 40px;
  text-align: center;
}
